* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    .header-top {
        background-color: white;
        width: 100%;
        .top-info {
            padding: 20px 0;
            justify-content: space-between;
            align-items: center;
            display: flex;
            width: 100%;
            .logo {
                display: flex;
                align-items: center;
                gap: 10px;
                .logo-text {
                    span {
                        &:first-child {
                            color: blue;
                        
                        }

                        &:last-child {
                            color: gray;
                        
                        }
                    }
                }
            }

            .social-icons {
                display: flex;
                li {
                    list-style: none;
                    margin-left: 30px;
                    font-size: 15px;
                    a {
                        list-style: none;
                        color: black;
                    }
                
                }
            }
        }
    }

    .header-bottom {
        background-color: rgb(243, 247, 249);
        .bottom-info {
            align-items: center;
            display: flex;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                li {
                    &:hover {
                        a {
                            background-color: blue;
                            color: white;
                        }
                    }
                    &.active {
                        a {
                            background-color: blue;
                            color: white;
                        }
                    }
                    list-style: none;
                    margin-left: 20px;
                    align-items: center;
                    a {
                        text-transform: capitalize;
                        transition: 0.3s;
                        padding: 30px 12px;
                        display: block;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
            .ticket-button {
                margin-left: 20px;
                background-color: blue;
                padding: 10px 30px;
                text-decoration: none;
                color: white;
            }
        }
    }
}